body{
    text-align: center;
    background-color: rgb(201, 224, 243);
        }
form {
    display: inline-block;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: rgb(178, 203, 224);
    }

label {
  font-size: medium;  
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    align-items: baseline;

  }
  div {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  div margen {
    color: blanchedalmond;
    background-color: white;
    font-size: medium;
    
  }
  input :valid{
    cursor: text;
    text-shadow: none;
   }
   table {
    display: inline-block;
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(235,235,235);
   
   }
  td {
    text-align: center;
   
  }
  
  tr, td {
    background-color: rgb(245,245,245);
  }
   caption {
    padding: 10px;
  }

p , vision, mission {
  text-align: justify;
  margin: 3px;
  margin-bottom: 2;
  padding: 20px;
  font-size: larger ;
}
footer{
font-size: small;
text-align: center;
align-items: center;

}