body{
    text-align: center;
    background-color: rgb(201, 224, 243);
        }
form {
    display: inline-block;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: rgb(178, 203, 224);
    }

label {
    font-size: medium;  
    font-family: sans-serif;
    align-items: baseline;

  }
div {
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  #margin {
    display: flex;
    justify-content: space-evenly;
    color: blanchedalmond;
    background-color: rgb(255, 255, 255);
    font-size: medium;
    
  }
input :valid{
    cursor: text;
    text-shadow:#cccc;
   }

table {
    display: inline-block;
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  
th {
    color: white;
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
    background-color: rgb(11, 21, 82);
  }
  td {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
    background-color:white;
  }

 #vision, #mission {
    text-align: justify;
    margin: 3px;
    margin-bottom: 2;
    padding: 20px;
    font-size: larger ;
    background-color: azure;
    border-radius: 10%;
 }

footer{
  font-size: small;
  text-align: center;
  align-items: center;

}
button:hover {
  background-color: rgb(11, 21, 82);
  color: white;
}